pipeline/pl_upadate.json
{
	"name": "pl_upadate",
	"properties": {
		"activities": [
			{
				"name": "Lkp_get_tbl",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select distinct mapping_table from mapping_table where mapping_table is not null",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_adb4",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Tbl",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lkp_get_tbl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lkp_get_tbl').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set_var_tbl",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "table",
								"value": {
									"value": "@item().mapping_table",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"table": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-10-15T12:15:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}